* {
  background-color: black;
  font-family: monospace;
  font-size: 18px; 
}

#app {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 15px 5px;
  height: 90vh;
}

#app h1 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 24px;
  color: lightgray;
  text-align: center;
}

#app a {
  font-size: 16px;
  text-decoration: none;
  background-color: #e2e2e2;
}

#app ul {
  background-color: lightgray;
  margin: 15px auto;
  border-radius: 4px;
  font-weight: bold;
  color: black;
}

#app ul li {
  background: #e2e2e2;
  /* margin: 5px; */
  border-radius: 0 4px 4px 0;
  padding: 10px;
  font-size: 20px;
  line-height: 1.5em;
  transition: 0.2s;
  list-style-type: square;
}

#app input {
  margin: 12px auto;
  width: 15rem;
  padding: 5px;  
  text-align: center;
  color: #e2e2e2;
  border-radius: 4px;
  border-color: cadetblue;
}

::placeholder {
  text-align: center;
}

#app button {
  display: none;
}

#app #keepgoing {
  /* margin-top: 15px; */
  text-align: center;
  font-size: 16px;
  color: #e2e2e2
}

#app #onfire {
  margin-top: 5px;
  text-align: center;
  font-size: 24px;
}