* {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
}

body {
  background-color: white;
  transition: 0.2s;
  margin: 0;
}

body.dark-theme {
  background-color: black;
}

#app {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: calc(100vh - 4rem);
  padding: 1rem 1rem 2rem 1rem;
  align-self: center;
  background-color: white;
  transition: 0.2s;
}

#app * {
  transition: 0.2s;
}

#app.dark-theme {
  background-color: black;
  transition: 0.2s;
}

.title {
  font-size: 24px;
  text-align: center;
}

.title.dark-theme {
  color: lightgray;
}

.link-element {
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
}

.todo-list {
  width: 100%;
  background-color: lightgray;
  margin-top: auto;
  margin: 0.5rem auto;
  padding: 0;
  border-radius: 8px;
  color: black;
  transition: 0.2s;
}

.todo-list.dark-theme {
  background-color: gray;
  transition: 0.2s;
}

.todo-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin: .325rem;
  padding: 0.5rem 0.75rem;
  font-size: 18px;
  font-weight: bold;
  overflow-wrap: anywhere;
}

.check-element {
  cursor: pointer;
}

.input-container {
  display: flex;
  margin: 0.5rem auto;
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.input-container input {
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  width: 100%;  
}

textarea:focus,
input:focus {
  outline: none;
}

input.dark-theme {
  background-color: black;
  color: #e2e2e2;
  border-color: #808080;
}

::placeholder {
  text-align: center;
}

.add-todo {
  background-color: #f0f0f0;
  color: #212121;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
  border-style: inset;
  border-left: none;
  cursor: pointer;
}

.add-todo.dark-theme {
  background-color: #302f2f;
  color: gray;
  border-color: #808080 #2c2c2c #808080;
}

.motivational-phrase {
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.motivational-phrase.dark-theme {
  color: lightgray;
  transition: 0.2s;
}

.emoji-run-element {
  margin: .5rem auto;
  text-align: center;
  font-size: 1.25rem;
  transform: scale(-1, 1);
}

.theme-selector {
  margin-top: auto;
  background-color: #e2e2e2;
  color: #212121;
  display: flex;
  align-self: center;
  font-size: .8rem;
  border-style: none;
  outline-style: none;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.theme-selector.dark-theme {
  background-color: #302f2f;
  color: gray;
}

.select-none {
  margin-top: auto;
  user-select: none;
}

@media (min-width: 600px) {
  .input-container {
    width: 80%;
  }
  .todo-list {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .input-container {
    width: 60%;
  }
  .todo-list {
    width: 60%;
  }
}