* {
  /* font-family: monospace; */
 	font-family: 'Red Hat Display', sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
  font-size: 18px;
}

body {
  background-color: white;
  transition: 0.2s;
}

body.dark-theme {
  background-color: black;
  transition: 0.2s;
}

#app {
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */

  margin: 4%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  transition: 0.2s;
}

#app.dark-theme {
  background-color: black;
  transition: 0.2s;
}

.title {
  /* margin-top: 2%; */
  margin-bottom: 2%;
  font-size: 24px;
  text-align: center;
  transition: 0.2s;
}

.title.dark-theme {
  color: lightgray;
  transition: 0.2s;
}

.link-element {
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.2s;
}

/* a.dark-theme {
  background-color: #dddddd;
  transition: 0.2s;
} */

.todo-list {
  background-color: lightgray;
  /* margin: 15px 5px; */
  margin: 15px auto;
  padding: 0;
  border-radius: 8px;
  font-weight: bold;
  /* text-align: center; */
  color: black;
  transition: 0.2s;
}

.todo-list.dark-theme {
  background-color: gray;
  transition: 0.2s;
}

.todo-element {
  background: #f0f0f0;
  border-radius: 8px;
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: 550;
  line-height: 1.5em;
  list-style-type: none;
  transition: 0.2s;
}

input {
  margin: 20px auto;
  width: 12rem;
  padding: 8px;  
  text-align: center;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}

textarea:focus, input:focus {
  outline: none;
}

input.dark-theme {
  background-color: black;
  color: #e2e2e2;
  border-color: gray;
  transition: 0.2s;
}

::placeholder {
  text-align: center;
  transition: 0.2s;
}

.add-todo {
  display: none;
}

.motivational-phrase {
  margin: 15px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
  transition: 0.2s;
}

.motivational-phrase.dark-theme {
  color: lightgray;
  transition: 0.2s;
}

.emoji-run-element {
  margin: 10px auto;
  text-align: center;
  font-size: 24px;
  transition: 0.2s;
  transform: scale(-1, 1);
}

.theme-selector {
  margin: 3% auto 2%;
  background-color: #e2e2e2;
  display: flex;
  align-self: center;
  font-size: 14px;
  border-style: none;
  outline-style: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.theme-selector.dark-theme {
  background-color: #302f2f;
  color: gray;
  transition: 0.2s;
}

.select-none {
  user-select: none;
}