* {
  font-family: monospace;
  font-size: 18px; 
}

#app {
  margin: 15px 5px;
}

#app h1 {
  font-size: 24px;
}

#app a {
  font-size: 16px;
  font-weight: lighter;
  /* color: crimson; */
  text-decoration: none;
}

#app ol {
  background-color: lightgray;
  font-weight: bold;
  color: black;
  margin: 10px auto;
}

#app ol li {
  background: #ffe5e5;
  margin-left: 15px;
  padding: 8px;
  font-size: 20px;
}

#app input {
  font-size: 18px;
}

/* #app button {
  background-color: darkseagreen;
} */